body {
  align-items: center;
  background: #2b2a30;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

/* outer glow */
.timer {
  align-items: center;
  border-radius: 50%;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  display: flex;
  height: 418px;
  justify-content: center;
  position: relative;
  width: 418px;
}

.ring {
  position: absolute;
  left: 0;
  fill: transparent;
  stroke: #09a65a;
  top: 0;
  z-index: 1;
}

.ring.ending circle {
  stroke: #f87070;
}

/* inner circle */
.timer-inner {
  position: absolute;
  align-items: center;
  background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3a393f 0%, #17171a 100%);
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 400px;
  z-index: 2;
}

/* actual time */
.time {
  display: flex;
  font-family: "Bebas Neue", cursive;
  font-size: 166px;
  line-height: 1;
  margin: 30px auto;
  position: relative;
  top: 30px;
  caret-color: transparent;
}

.toggle-button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  line-height: 20px;
  background: none;
  color: white;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.start:hover:disabled {
  opacity: 0.5;
  cursor: default;
}

.start:hover {
  opacity: 1;
}

.settings {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
}

.settings:hover {
  opacity: 1;
}

.labels {
  border: 5px solid #3a393f;
  margin: 0 auto 20px;
  max-width: 350px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3a393f 0%, #17171a 100%);
  /* box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45); */
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  border-radius: 50px;
}

.option-btn {
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 1;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.option-btn.active {
  background-color: #f87070;
  color: #17171a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 10;
  /* visibility: hidden; */
  /* opacity: 0; */
}

.modal {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.modal-header {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.modal-header h2 {
  margin: 0;
}

.modal-close {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.modal-body {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.label input {
  margin-top: 5px;
  max-width: 100%;
}
